<div class="contendor">
  <form action="/users/new" method="POST" class="default-form">
    <div class="campo">
      <label>Nombre</label>
      <input type="text" name="name" placeholder="Ingresa tu nombre">
    </div>
    <div class="campo">
      <label>Email</label>
      <input type="email" name="email" placeholder="Ingresa tu email">
    </div>
    <div class="campo">
      <label>Password</label>
      <input type="password" name="password" placeholder="Ingresa tu password">
    </div>
    <div class="campo">
      <label>Repetir Password</label>
      <input type="password" name="repeatPassword" placeholder="Repetir password">
    </div>
    <div class="campo acciones">
      <a href="/init-session">Volver a Iniciar Sesion</a>
    </div>
    <div class="campo">
      <input type="submit" value="Crear cuenta" class="btn btn-azul">
    </div>
  </form>
</div>